*.cache
.DS_Store
.idea/.idea.ContactsManagerWeb/.idea/AndroidProjectSystem.xml
.idea/.idea.ContactsManagerWeb/.idea/indexLayout.xml
.idea/.idea.ContactsManagerWeb/.idea/projectSettingsUpdater.xml
.idea/.idea.ContactsManagerWeb/.idea/vcs.xml
.idea/.idea.ContactsManagerWeb/.idea/workspace.xml
ContactsManagerTest/bin/Debug/net9.0/.msCoverageSourceRootsMapping_ContactsManagerTest
ContactsManagerTest/bin/Debug/net9.0/CoverletSourceRootsMapping
ContactsManagerTest/obj/Debug/net9.0/ContactsManagerTest.AssemblyInfo.cs
ContactsManagerTest/obj/Debug/net9.0/ContactsManagerTest.AssemblyInfoInputs.cache
ContactsManagerTest/obj/Debug/net9.0/ContactsManagerTest.csproj.AssemblyReference.cache
Entities/bin/Debug/net9.0/Entities.dll
Entities/bin/Debug/net9.0/Entities.pdb
Entities/obj/Debug/net9.0/Entities.AssemblyInfo.cs
Entities/obj/Debug/net9.0/Entities.AssemblyInfoInputs.cache
Entities/obj/Debug/net9.0/Entities.csproj.FileListAbsolute.txt
Entities/obj/Debug/net9.0/Entities.dll
Entities/obj/Debug/net9.0/Entities.pdb
Entities/obj/Debug/net9.0/Entities.sourcelink.json
Entities/obj/Debug/net9.0/ref/Entities.dll
Entities/obj/Debug/net9.0/refint/Entities.dll
Repositories/bin/Debug/net9.0/Entities.dll
Repositories/bin/Debug/net9.0/Entities.pdb
Repositories/bin/Debug/net9.0/Repositories.dll
Repositories/bin/Debug/net9.0/Repositories.pdb
Repositories/bin/Debug/net9.0/RepositoryContracts.dll
Repositories/bin/Debug/net9.0/RepositoryContracts.pdb
Repositories/obj/Debug/net9.0/ref/Repositories.dll
Repositories/obj/Debug/net9.0/refint/Repositories.dll
Repositories/obj/Debug/net9.0/Repositories.AssemblyInfo.cs
Repositories/obj/Debug/net9.0/Repositories.AssemblyInfoInputs.cache
Repositories/obj/Debug/net9.0/Repositories.csproj.AssemblyReference.cache
Repositories/obj/Debug/net9.0/Repositories.csproj.FileListAbsolute.txt
Repositories/obj/Debug/net9.0/Repositories.dll
Repositories/obj/Debug/net9.0/Repositories.pdb
Repositories/obj/Debug/net9.0/Repositories.sourcelink.json
RepositoryContracts/bin/Debug/net9.0/Entities.dll
RepositoryContracts/bin/Debug/net9.0/Entities.pdb
RepositoryContracts/bin/Debug/net9.0/RepositoryContracts.dll
RepositoryContracts/bin/Debug/net9.0/RepositoryContracts.pdb
RepositoryContracts/obj/Debug/net9.0/ref/RepositoryContracts.dll
RepositoryContracts/obj/Debug/net9.0/refint/RepositoryContracts.dll
RepositoryContracts/obj/Debug/net9.0/RepositoryContracts.AssemblyInfo.cs
RepositoryContracts/obj/Debug/net9.0/RepositoryContracts.AssemblyInfoInputs.cache
RepositoryContracts/obj/Debug/net9.0/RepositoryContracts.csproj.AssemblyReference.cache
RepositoryContracts/obj/Debug/net9.0/RepositoryContracts.csproj.FileListAbsolute.txt
RepositoryContracts/obj/Debug/net9.0/RepositoryContracts.dll
RepositoryContracts/obj/Debug/net9.0/RepositoryContracts.pdb
RepositoryContracts/obj/Debug/net9.0/RepositoryContracts.sourcelink.json
ServiceContracts/bin/Debug/net9.0/Entities.dll
ServiceContracts/bin/Debug/net9.0/Entities.pdb
ServiceContracts/bin/Debug/net9.0/ServiceContracts.dll
ServiceContracts/bin/Debug/net9.0/ServiceContracts.pdb
ServiceContracts/obj/Debug/net9.0/ref/ServiceContracts.dll
ServiceContracts/obj/Debug/net9.0/refint/ServiceContracts.dll
ServiceContracts/obj/Debug/net9.0/ServiceContracts.AssemblyInfo.cs
ServiceContracts/obj/Debug/net9.0/ServiceContracts.AssemblyInfoInputs.cache
ServiceContracts/obj/Debug/net9.0/ServiceContracts.csproj.AssemblyReference.cache
ServiceContracts/obj/Debug/net9.0/ServiceContracts.csproj.FileListAbsolute.txt
ServiceContracts/obj/Debug/net9.0/ServiceContracts.dll
ServiceContracts/obj/Debug/net9.0/ServiceContracts.pdb
ServiceContracts/obj/Debug/net9.0/ServiceContracts.sourcelink.json
Services/bin/Debug/net9.0/Entities.dll
Services/bin/Debug/net9.0/Entities.pdb
Services/bin/Debug/net9.0/Repositories.dll
Services/bin/Debug/net9.0/Repositories.pdb
Services/bin/Debug/net9.0/RepositoryContracts.dll
Services/bin/Debug/net9.0/RepositoryContracts.pdb
Services/bin/Debug/net9.0/ServiceContracts.dll
Services/bin/Debug/net9.0/ServiceContracts.pdb
Services/bin/Debug/net9.0/Services.dll
Services/bin/Debug/net9.0/Services.pdb
Services/obj/Debug/net9.0/ref/Services.dll
Services/obj/Debug/net9.0/refint/Services.dll
Services/obj/Debug/net9.0/Services.AssemblyInfo.cs
Services/obj/Debug/net9.0/Services.AssemblyInfoInputs.cache
Services/obj/Debug/net9.0/Services.csproj.AssemblyReference.cache
Services/obj/Debug/net9.0/Services.csproj.FileListAbsolute.txt
Services/obj/Debug/net9.0/Services.dll
Services/obj/Debug/net9.0/Services.pdb
Services/obj/Debug/net9.0/Services.sourcelink.json
